import "{{ site.theme }}"

body {
  p, h1, h2, h3, h4, h5 {
    font-family: $helveticaNeue;
  }
  
  .headshot {
    border-radius: 10%;
    max-width: 150px;
  }

  .wrapper {
    .introduction {
      display: flex;
    }
  }
}